.uniform-padding {
    padding: 20px;
}

.non-uniform-padding {
    padding: 10px 30px 20px 40px;
}

.percentage-padding {
    padding: 5%;
}

div {
    border: 2px solid black;
    padding: 0.1em;
    margin: 0.2em 0.5em 0.7em 0.2em;
}

