@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #C1BDBA;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 22px/1.5 "Kode Mono", sans-serif;
}

body>* {
    width: 100%;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
}

a:hover {
    color: #179b77;
}

.form {
    background: #24333C;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab-group li a:hover {
    background: #179b77;
    color: #fff;
}

.tab-group .active a {
    background: #1ab188;
    color: #fff;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translate(6px);
    left: 13px;
    color: rgba (255, 255, 255, 0.5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;
}