@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #C1BDBA;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 22px/1.5 "Kode Mono", sans-serif;
}

body > * {
    width: 100%;
}

.form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background: #24333C;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px  rgba(0, 0, 0, 0.2);
}

.tab-group {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2em;

}

#signup > h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    margin: 0 0 40px;
}