h1 {
    color: red;
}

p {
    font-size: 24px;
}

.highlight {
    background: lightgoldenrodyellow;
}

#main-title {
    color: green;
}

#special-paragraph {
    font-style: italic;
}

ul {
    list-style-type: square;
}

li {
    color: darkblue;
}