* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

body>* {
    width: 100%;
}

.site {
    background: #fff;
    padding: 1em;
    box-shadow: 0 0 2em rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

[class^="site-"] {
    border: 1px solid #CCC;
    border-radius: 0.3em;
    padding: 2em;
}

.content {
    display: flex;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.site-main {
    flex-grow: 1;
}

.site-aside {
    flex-basis: 20ch;
}

@media (width > 800px) {
    .content {
        flex-direction: row;
    }

    .site-aside {
        flex-basis: 30ch;
    }
}